TELEGRAM_BOT_TOKEN=8785586702:AAHs4TdLhV7ya3_Cl4GOTglZVO_vukGmtrE
TELEGRAM_CHAT_ID=1716965583
SYMBOLS=BTCUSDT,ETHUSDT,SOLUSDT,BNBUSDT,XRPUSDT,ADAUSDT
EXCHANGES=BINANCE,OKX,BYBIT,BINGX,KUCOIN,BITGET,MEXC
POLL_SECONDS=30
THRESHOLD=60
USE_FUTURES=True
ALERT_COOLDOWN_SECONDS=900
ENABLE_TELEGRAM=True
LOG_PATH=logs/signals.jsonl
